{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Place_id</th>
                <td>{{ user.placeid }}</td>
            </tr>
            <tr>
                <th>Item1</th>
                <td>{{ user.item1 }}</td>
            </tr>
            <tr>
                <th>Item2</th>
                <td>{{ user.item2 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
